__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

.DS_Store

*.env
*.env.*
*.env.*.*
*.env.*.*.*
*.env.*.*.*.*
*.venv
env
venv

quick_script.py
*.json
*.xlsx
*.csv
*.txt