{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create a device{% endblock %}

{% block content %}
<div class="homepage-container rounded flex-fill p-1">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-4">Dodaj urządzenie</h2>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-sm btn-outline-success" type="submit">Stwórz urządzenie</button>
        </div>
    </div>
    <p class="p-2 mt-1"><a href="{% url 'device-list' %}">Wróć do listy urządzeń</a></p>
</div>
{% endblock content %}