{% extends 'base.html' %}

{% block title %}Device List{% endblock %}

{% block content %}
<div class="homepage-container rounded flex-fill p-1">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="card-title mb-0">Urządzenia</h2>
                <div>
                    <a href="{% url 'device-create' %}" class="btn btn-sm btn-success">Dodaj urządzenie</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Zdjęcie</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                            {% if device.pk %}
                            <tr>
                                <td class="text-break">{{ device.pk }}</td>
                                <td class="text-break"><img src="{{ device.thumbnail_url }}" alt="{{ device.name }}" width="60" height="60"></td>
                                <td class="text-break">{{ device.name }}</td>
                                <td>
                                    <a href="{% url 'device-update' device.pk %}" class="btn btn-sm btn-outline-primary">Edytuj</a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}