{% extends 'base.html' %}

{% block title %}Delete {{ compatibility.name }}{% endblock %}
{% block content %}
<div class="homepage-container rounded flex-fill p-1">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-break">Na pewno chcesz usunąć {{ compatibility.name }}?</h2>
            <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm btn-outline-danger" value="Usuń kompatybilność">
            </form>
        </div>
    </div>
    <p class="p-2 mt-1"><a href="{% url 'compatibility-list' %}">Wróć do listy produktów</a></p>
</div>
{% endblock content %}