{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="homepage-container rounded flex-fill p-1">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-break">{{ product.name }}</h2>
            <a href="{% url 'product-delete' product.pk %}" class="btn btn-sm btn-danger">Usuń produkt</a>
            <a href="{% url 'product-update' product.pk %}" class="btn btn-sm btn-primary">Edytuj produkt</a>
            <p>Typ: {{ product.product_type }}</p>
        </div>
    </div>
    <p class="p-2 mt-1"><a href="{% url 'product-list' %}">Wróć do listy produktów</a></p>
</div>
{% endblock content %}