{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create a product{% endblock %}

{% block content %}
<div class="homepage-container rounded flex-fill p-1">
    <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">Dodaj produkt</h2>
            <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-sm btn-outline-success" type="submit">Stwórz produkt</button>
        </div>
    </div>
    <p class="p-2 mt-1"><a href="{% url 'product-list' %}">Wróć do listy produktów</a></p>
</div>
{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.selectmultiple').select2();
    });
  </script>
{% endblock scripts %}