{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="homepage-container p-4 rounded">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Siema</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae alias doloremque non illo praesentium repudiandae earum officia at reprehenderit, iusto qui quibusdam reiciendis tempora adipisci veritatis cumque exercitationem dolore. Nihil a molestiae eos culpa similique laboriosam animi asperiores neque sint in facilis reiciendis ipsam tempore, debitis nam deleniti eveniet vel!</p>
            </div>
        </div>
    </div>
{% endblock %}